<phpunit verbose="true" bootstrap="bootstrap.php">
    <php>
        <var name="DB_DSN" value="sqlite:test.db"/>
        <var name="DB_FILE" value="test.db"/>
    </php>
    <testsuites>
        <testsuite name="lib360">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
